:root {
    --primary: #065f46;

  }
.container {
    @apply mx-auto max-w-[95%] lg:max-w-[90%] 2xl:max-w-[80%];
}

.overlay {
    @apply relative overflow-hidden;
}
.overlay::before {
    content: '';
    @apply absolute top-0 left-0 right-0 bottom-0 w-full h-full bg-primary bg-opacity-80;
}

.vs__dropdown-toggle {
    border: 1px solid var(--primary) !important;
    padding: 6px 8px !important;
    padding-right: 0px !important;
    border-radius: 8px !important;
    background-color: #065f46 !important;
}
.vs__dropdown-menu {
    top: 50px !important;
    border: 0 !important;
}
.vs__search {
    margin: 0 !important;
    color: #fff !important;
}
.vs__selected {
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
.vs__open-indicator {
    display: none !important;
}
.vs__actions {
    padding: 0 !important;
}
.vs__dropdown-option--highlight {
    background-color: #065f46 !important;
}
.vs__selected {
    color: #fff !important;
}
.vs__clear {
    svg {
        fill: #fff !important;
    }
}
.bg-sky-gradient{
    background-image: linear-gradient(to right, #3DA29C, #3F5FBB, #C41271, #CDA42C);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
/* hamburg menu */
.elegance-hamburger-menu {
    @apply inline-flex;
}
.elegance-hamburger-menu .elegance-hamburger-menu__btn--active span {
    @apply rotate-45 before:rotate-[0] before:top-0 after:rotate-90 after:top-0;
}
.elegance-hamburger-menu__btn {
    @apply flex items-center w-[24px] h-[24px] relative cursor-pointer;
}
.elegance-hamburger-menu__btn span {
    @apply block absolute w-full h-[3px] bg-white transition-all duration-[0.3s] ease-[ease-in-out] before:-top-2 after:top-2;
}
.elegance-hamburger-menu__btn span::before,
.elegance-hamburger-menu__btn span::after {
    @apply content-[""] block absolute w-full h-[3px] bg-white transition-all duration-[0.3s] ease-[ease-in-out];
}
